
        body {
            background-color: #f3f4f6;
        }

        .container {
            max-width: 42rem;
            padding: 1.5rem;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 0.5rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }

        .header-logo {
            display: block;
            width: auto;
            height: 2.25rem;
        }

        .content {
            margin-top: 2rem;
            color: #4b5563;
        }

        .content h2 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #374151;
        }

        .content p {
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 1.5;
        }

        .footer {
            margin-top: 2rem;
            font-size: 0.875rem;
            color: #6b7280;
        }
  